body {
    background-image: url(./imgs/22628444_6654537.jpg);
    background-size: 100vw 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#card-grid {
    background-color: rgb(0, 0, 0, 0.2);
    width: 80vw;
    height: 80vh;
    border-radius: 2rem;
    padding: 20px;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 30px;
}

.card {
    background-image: url(./imgs/Download\ Dinosaurs\ silhouettes\ layers\ background\ \ banner\ \ illustration_\ \ for\ free.jpeg);
    background-size: 100px 100px;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}